.main__game {
 background-image: url("https://html.nkdev.info/goodgames/assets/images/bg-top-5.png");
  background-color: #313947; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200vh;
  margin-bottom: -7vh;

}

.div__info--post {
  width: 20vw;
  max-height: 25vh;
  overflow-y: auto;
  background-color: #363636;
  color: #d3d3d3;
  position: absolute;
  padding: 20px;
  height:25vh;
  left: 0;
  margin-left: 400px;
  
  img{
    height: 40px;
    float: right;
  }

  img:hover{ 
    cursor: pointer;
  }
}

#img__post--games {
  position: absolute;
  height: 70vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
